<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data Download</title>
</head>
<style>
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    text-align: center;
    font-size: 40px;
    color: rgb(112, 112, 238);
  }
  h2{
    font:bold;
  }
  button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    color: blue;
  }

</style>
<body>
    <h2>Download Weather Data</h2>
    <p>Click the button below to download the latest weather data.</p>
    <a href="/download">
        <button>Download CSV</button>
    </a>
</body>
</html>
